:root {
    --bs-primary: #5143d9;
    --bs-danger: #d6293e;
    --bs-success: #0cbc87;
  }
  body {
    background-color: #232529;
  }
  .btn-primary-soft {
    color: #5143d9;
    background-color: rgba(81, 67, 217, 0.1);
  }
  .btn-primary-soft:active,
  .btn-primary-soft:hover,
  .btn-primary-soft:focus {
    color: #fff;
    background-color: #5143d9;
    border-color: #5143d9;
  }
  .btn-success-soft {
    color: #0cbc87;
    background-color: rgba(12, 188, 135, 0.1);
  }
  .btn-success-soft:active,
  .btn-success-soft:hover,
  .btn-success-soft:focus {
    color: #fff;
    background-color: #0cbc87;
    border-color: #0cbc87;
  }
  .btn-danger-soft {
    color: #d6293e;
    background-color: rgba(214, 41, 62, 0.1);
  }
  .btn-danger-soft:active,
  .btn-danger-soft:hover,
  .btn-danger-soft:focus {
    color: #fff;
    background-color: #d6293e;
    border-color: #d6293e;
  }

  @media only screen and (max-width: 600px) {
  
    .main-body-img{
      max-width: 100%;
    }
   .catagory{
    margin-top: 3rem;
    margin-bottom: 3rem;
   }
   .cards-sec{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   }
   .card-row{
    margin-top: 3rem;
    margin-bottom: 3rem;
   }
   .cards-sec-card{
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 50%;
   }
   .secend-sec-card{
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 8px;
    width: 100%;
   }
   .secend-sec-row{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   }
   .secend-sec{
    margin-top: 8em;
    margin-bottom: 3rem;
   }
  }